<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRIVER || CHAT</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <header>
        <nav class="navbar navbar-dark navbar-expand-md fixed-top">
                <div class="container-fluid ml-4 ml-sm-5"><a class="navbar-brand" href="#">TRASHCHANGE</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse"
                        id="navcol-1">
                        <ul class="nav navbar-nav text-right text-white ml-auto">
                            <li class="nav-item" role="presentation"><a class="nav-link" href="order_driver.html"> My Order</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link  active" href="chat_driver.html">My Chat</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="history_driver.html">My History</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="profil_driver.html">My Profile</a></li>
                        </ul>
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item"></li>
                            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-search"></i></a></li>
                            <li class="nav-item"></li>
                        </ul>
                    </div>
                </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="text-nav text-white">
                <h5>Chat Masuk</h5>
            </div>
        
            <ul class="list-group mt-5">
                <li class="list-group-item align-items-center">
                    <img src="account-6491185_960_720.webp" width="25" alt="">
                    <a href="#" class="text-list">
                        Customer 1 <br>
                    </a>
                    <span class="text-list-2">Hi, Apakah sudah sampai . . . . . .</span>
                    <span class="badge bg-success rounded-pill">14</span>
                </li>
            </ul>

            <ul class="list-group mt-2">
                <li class="list-group-item align-items-center">
                    <img src="account-6491185_960_720.webp" width="25" alt="">
                    <a href="#" class="text-list">
                        Customer 2 <br>
                    </a>
                    <span class="text-list-2">Hi, Apakah sudah sampai . . . . . .</span>
                    <span class="badge bg-success rounded-pill">1</span>
                </li>
            </ul>
                
            <ul class="list-group mt-2">
                <li class="list-group-item align-items-center">
                    <img src="account-6491185_960_720.webp" width="25" alt="">
                    <a href="#" class="text-list">
                        Customer 3 <br>
                    </a>
                    <span class="text-list-2">Hi, Apakah sudah sampai . . . . . .</span>
                    <span class="badge bg-success rounded-pill">3</span>
                </li>

            </ul>
            
            <ul class="list-group mt-2">
                <li class="list-group-item align-items-center">
                    <img src="account-6491185_960_720.webp" width="25" alt="">
                    <a href="#" class="text-list">
                        Customer 4 <br>
                    </a>
                    <span class="text-list-2">Hi, Apakah sudah sampai . . . . . .</span>
                    <span class="badge bg-success rounded-pill">2</span>
                </li>
            </ul>

            <ul class="list-group mt-2">
                <li class="list-group-item align-items-center">
                    <img src="account-6491185_960_720.webp" width="25" alt="">
                    <a href="#" class="text-list">
                        Customer 5 <br>
                    </a>
                    <span class="text-list-2">Hi, Apakah sudah sampai . . . . . .</span>
                    <span class="badge bg-success rounded-pill">5</span>
                </li>
            </ul>

            <ul class="list-group mt-2">
                <li class="list-group-item align-items-center">
                    <img src="account-6491185_960_720.webp" width="25" alt="">
                    <a href="#" class="text-list">
                        Customer 6 <br>
                    </a>
                    <span class="text-list-2">Hi, Apakah sudah sampai . . . . . .</span>
                    <span class="badge bg-success rounded-pill">1</span>
                </li>
            </ul>

            <ul class="list-group mt-2">
                <li class="list-group-item align-items-center">
                    <img src="account-6491185_960_720.webp" width="25" alt="">
                    <a href="#" class="text-list">
                        Customer 7 <br>
                    </a>
                    <span class="text-list-2">Hi, Apakah sudah sampai . . . . . .</span>
                    <span class="badge bg-success rounded-pill">2</span>
                </li>
            </ul>
        </div>

    </main>


    <footer>
        <div id="footer py-4">
            <div class="main-footer mt-5">
                <div class="row px-3">
                    <small class="ml-4 ml-sm-5">TRASHCHANGE <br> Copyright &copy; 2022. All rights reserved.</small>
                    <div class="social-contact ml-4 ml-sm-auto">
                        <i class="fa-brands fa-facebook mr-4 text-sm"></i>
                        <i class="fa-brands fa-google-plus mr-4 text-sm"></i>
                        <i class="fa-brands fa-linkedin mr-4 text-sm"></i>
                        <i class="fa-brands fa-twitter mr-4 mr-sm-5 text-sm"></i>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>